.header {
}
.logo {
}
.langChoice {
  min-width: 78px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
}
.lang {
  font-weight: 400;
  font-size: 24px;
}
.lang_underlined {
  border-bottom: 1px solid #fff;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 928px;
}
.lead {
  display: flex;
  flex-direction: column;
  max-width: 928px;
  align-items: center;
}
.lead__title {
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 28px 0;
}
.lead__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  margin: 4px 0 64px;
  max-width: 640px;
}
.lead__image-container {
}
.lead__image {
  width: 100%;
}
.lead__image-title {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  margin: 8px 0;
  margin-bottom: 29px;
}
.intro {
  padding-right: calc(100% - 690px - 12px);
  padding-left: 12px;
}
.intro__title {
  display: block;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.075;
  max-width: 690px;
  margin-bottom: 40px;
}
.intro__text {
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  max-width: 690px;
}
.intro__list {
  display: block;
  list-style-type: none;
  padding-left: 0;
  max-width: 690px;
  margin: 33px 0 92px;
}
.list-elem {
  line-height: 1.5;
}
.list-elem__text {
  font-weight: 700;
  font-size: 12px;
}
.list-elem__digit {
  font-weight: 400;
  font-size: 12px;
}
.photo-grid {
  /* max-width: 1184px; */
  max-width: 928px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: 213px; */
  grid-template-rows: 225px;
  gap: 14px;
  /* gap: 16px; */
}
.photo-grid__item {
}
.places {
  max-width: 928px;
  padding-top: 100px;
}
.place {
  display: grid;
  grid-template-columns: 440px 456px;
  grid-template-rows: auto auto;
  gap: 48px 32px;
  padding-bottom: 84px;
}
.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  margin: 0;
}
.place__website {
  align-self: end;
}
.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: #aaa;
}
.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.place__image {
  width: 100%;
}
.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin-top: 0;
}
.cover {
}
.cover__overlay {
  /* width: 100%; */
  text-decoration: none;
  position: relative;

  min-width: 1024px;
  background-image: url(./../images/Railway_station.jpg);
  /* padding-bottom: 100%; */
  height: calc(0.625 * 100vw);
  max-height: 640px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.cover__overlay:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
}
.cover__title {
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  text-align: center;
  z-index: 2;
  max-width: 560px;
}
.cover__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  text-align: center;
  z-index: 2;
  max-width: 360px;
}
.footer {
  display: flex;
  justify-content: space-between;
  min-width: 928px;
  padding-top: 92px;
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 18px;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
}
.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
